<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/province">List Province</a>
<hr>
<a href="/create-customer">Create new customer</a>
<h1>Customers</h1>
<th:block th:if="${message}">
    <h6 th:text="${message}"></h6>
</th:block>
<table border="1">
    <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Province</th>

    </tr>
    <th:block th:each="customer : ${customers}">
        <tr>
            <td th:text="${customer.firstName}"></td>
            <td><a th:href="@{/view/__${customer.id}__}"><u th:text="${customer.lastName}"></u></a></td>
            <td th:text="${customer.province.nameProvince}"></td>
        </tr>
    </th:block>
</table>
<!--        cap nhat so trang cho web-->
<div>
    <a th:href="@{'/customers'(page=${customers.number - 1})}" th:if="${customers.hasPrevious()}">Previous</a>
    <span th:text="${customers.number + 1}"></span>/<span th:text="${customers.totalPages}"></span>
    <a th:href="@{'/customers'(page=${customers.number + 1})}" th:if="${customers.hasNext()}">Next</a>
</div>
</body>
</html>